---
---

<section class="py-20 text-white relative bg-black bg-cover bg-center" style="background-image: url('/background.png');">
  <div class="container mx-auto text-center">
    <h2 class="text-5xl font-blanka text-red-500">Ubicación</h2>
    <div class="mt-10">
      <div class="h-96 bg-gray-800 rounded-lg shadow-lg"></div>
    </div>
    <p class="text-lg font-schibsted mt-4">Dirección del evento, Ciudad, País</p>
  </div>
</section>

