---
---
<section class="py-20 bg-black text-white">
  <div class="container mx-auto max-w-6xl px-4">
    <h2 class="text-5xl heading-pop neon-title text-yellow-300 text-center">Ubicación</h2>
    <div class="neon-divider mt-4"></div>

    <div class="mt-10 grid lg:grid-cols-2 gap-8">
      <div class="space-y-4 p-6 neon-card">
        <h3 class="text-2xl font-blanka text-pink-400">Dirección</h3>
        <p class="font-schibsted text-gray-100">Calle San Carlos #98 Laguna de Arriba, Guadalupe, Zacatecas</p>

        <h3 class="text-2xl font-blanka text-pink-400 mt-6">Contacto</h3>
        <ul class="font-schibsted text-gray-100 space-y-1">
          <li>Tel/WhatsApp: <a class="underline" href="https://wa.me/524923569781">+52 492 356 9781</a></li>
        </ul>
      </div>

      <div class="w-full h-80 rounded-lg overflow-hidden shadow-lg border border-purple-700 neon-card p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d230.01997927455713!2d-102.4792244!3d22.7163568!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8682492d5d7637fb%3A0x3ae7c9f7aec540cd!2sCasa%20Maple!5e0!3m2!1sen!2smx!4v1758485206346!5m2!1sen!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
